.flex-container {
  display: flex;
  gap: 6px;
}

.flex-child {
  flex-basis: 50%;
}

.movie-details {
  padding: 6px;
  background-color: #028090;
  color: white;
  border-radius: 6px;
}

.list-navigation {
  display: flex;
  gap: 6px;
}
